.vs
TicketManager.Api/obj/*
TicketManager.Api/bin/*
TicketManager.Services/obj/*
TicketManager.Services/bin/*
TicketManager.Models/obj/*
TicketManager.Models/bin/*
TicketManager.Infrastructure/obj/*
TicketManager.Infrastructure/bin/*

